*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav{
    display: flex;
    margin: 10px;
    font-size: 5px;
    border: 1px  ;
    position: relative;
    box-shadow: 10px 5px 5px rgb(185, 183, 183);
}

.function{
    font-family: 'Edu NSW ACT Foundation', cursive;
}
.logo{
    display: flex;
}
.company{
    font-size: 6em ;
    font-family: 'Alkatra', cursive;
}
.text{
    font-family: 'Alkatra', cursive;
    font-size:20px ;
}
.function{
    margin: auto;
    font-size: 6em;
}
.container{
    text-align: center;
    width: 50%;
    margin: auto;   
}
.upload{
    border: 2px solid black;
    margin-top: 50px;
    padding: 10px;
}
.uploadImage{
    margin: 10px;
}
#card4{
    position:relative;
    top: 7px;
}
.template{
    display: flex;
    position: relative;
    
    visibility: hidden;
    justify-content: space-between;
}
.card{
    cursor:pointer;
}
#btn1{
   margin-top: 40px;
   visibility: hidden;
}

input{
    background-color: #1d9898;
    color: white;
    padding: 10px;
    cursor: pointer;
   width: 30%;
    border-radius: 5px;
    margin-bottom: 16px;
    
}


/* RESPONSIVE DESIGN */
@media(max-width:711px){
    input{
        width: 100%;
        
    }
    
}
@media (max-width:517px) {
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .company{
        font-size: 4em;
        position: relative;
        top: 10px;
    }
    .function{
        font-size: 4em;
    }
    
    .upload{
        height: 20vh;
    }
    
   
    .template{
        display: flex;   
       
        position: absolute;
        left: 10px;
        width: 90%;
       
     }
     

   
}
